.lista-enlaces {
  list-style: none;
  padding: 0;
  max-width: 250px;
}

.lista-enlaces li {
  border-bottom: 1px solid #d8c39a;
}

.lista-enlaces li::before {
  content: "🍞 ";
}

.lista-enlaces a {
  display: block;
  padding: 0.6rem;
  text-decoration: none;
  color: #2b1b12;
}

.lista-enlaces a:hover {
  background-color: #fdf6e9;
  color: #7a4a1f;
}

.lista-enlaces li:nth-child(even) {
  background-color: #fff8e7;
}
